<div class="col-sm-12">
  
  <h2>Content Providers</h2>
  <br>
</div>

<ul class="list-unstyled">
  <% @providers.each do |provider| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag provider.img %>
        <div class="caption">
          <h3><%= link_to provider.name, provider.url %></h3>
          <p><%= provider.description %></p>
          
        </div>
        <div class="actions">
          <p><%= link_to "View lessons", provider_path(provider), class: "btn btn-primary" %> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
    <!-- <li>
      <%= image_tag provider.img %>
      <h4><%= link_to provider.name, provider.url %></h4>
      <p><%= provider.description %></p>
    </li> -->
  <% end %>
</ul>
