<div class="col-sm-8">
  <div class="col-sm-8 col-sm-offset-4">
    <h2>Add a new content provider</h2>
  </div>

  <%= form_for( @provider, html: {class: "form-horizontal", role: "form"}) do |f| %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :name, class: "form-control", autofocus: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :url, class: "col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :url, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :img, class: "col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :img, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-8 col-sm-offset-4">
      <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
  </div>

  <% end %>
  
</div>