<h2><%= @provider.name %></h2>

<% @provider.tutorials.each do |tutorial| %>
  <h4><%= tutorial.name %></h4>
  <%= link_to "View", tutorial_path(tutorial), class: "btn btn-default" %>
  <%= link_to "Edit", edit_tutorial_path(tutorial), class: "btn btn-default" %>

<% end %>