<div class="jumbotron">
  <h1>Welcome to Breadcrumb.io</h1>
  <p>The easiest way to find the best open learning resources</p>
  <p><a class="btn btn-primary btn-lg" role="button">Get started</a></p>
</div>