<div class="col-sm-8">
  <div class="col-sm-8 col-sm-offset-4">
    <h2>Sign up</h2>
  </div>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "form-horizontal", role: "form"}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :first_name, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :first_name, class: "form-control", autofocus: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :last_name, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :dream_job, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :dream_job, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= f.email_field :email, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= f.password_field :password, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-8 col-sm-offset-4">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  
  <div class="col-sm-8 col-sm-offset-4">
    </br><p>Or</p>
    <%= render "devise/shared/links" %>
  </div>

</div>