<%= form_for( @tutorial, html: {class: "form-horizontal", role: "form"}) do |f| %>
  <% if @tutorial.errors.any? %>
    <div class="col-sm-8 col-sm-offset-4">
      <p><%= pluralize(@tutorial.errors.count, "error") %> prohibited this tutorial from being saved:</p>
      <ul>
        <% @tutorial.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
    </ul>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :name, class: "col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :name, class: "form-control", autofocus: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :url, class: "col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :url, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :provider_id, class: "col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.collection_select :provider_id, Provider.all, :id, :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-8 col-sm-offset-4">
      <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
  </div>

  <% end %>