<div class="col-sm-8">
  <div class="col-sm-8 col-sm-offset-4">
    <h2>Sign in</h2>
  </div>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "form-horizontal", role: "form"}) do |f| %>

    <div class="form-group">
      <%= f.label :email, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= f.email_field :email, class: "form-control", autofocus: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= f.password_field :password, class: "form-control" %>
      </div>
    </div>
    

    <div class="form-group">
      <div class="col-sm-8 col-sm-offset-4">
        <%= f.submit "Sign in", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <div class="col-sm-8 col-sm-offset-4">
    </br><p>Or</p>
    <%= render "devise/shared/links" %>
  </div>
