// Place all the styles related to the providers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thumbnail {
  height: 350px;
  position: relative;
  img {
    height: 150px;
    overflow: hidden;
    padding: 9px;
  }
  .actions {
    position: absolute;
    top: 100%;
    margin-top: -51px;
    left: 9px;
  }
}